<template>

    <!-- banner -->
    <section class="section hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">

                <div class="columns">
                    <div class="column is-two-thirds">
                        <h1 class="title"> Sparkle.io </h1>
                        <h2 class="subtitle"> A collaborative platform to transform innovative ideas into reality </h2>
                    </div>

                    <div class="column">
                        <p class="control has-icon">
                            <input class="input" type="email" placeholder="Email">
                            <i class="fa fa-envelope"></i>
                        </p>
                        <p class="control has-icon">
                            <input class="input" type="password" placeholder="Password">
                            <i class="fa fa-lock"></i>
                        </p>
                        <p class="control">
                            <button class="button is-white is-outlined is-pulled-left">
                                Login
                            </button>
                            <button class="button is-white is-outlined is-pulled-right">
                                Register now (free)
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section"></section>


    <!-- marketing banner -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <nav class="columns">

                    <div class="column has-text-centered">
                      <span class="icon is-large">
                        <i class="fa fa-lightbulb-o"></i>
                      </span>
                      <span class="icon is-large">
                        <i class="fa fa-desktop"></i>
                      </span>
                        <p class="title is-4"><strong>Innovative</strong></p>
                        <p class="subtitle">We provide innovative ways to structure and evolve your idea.</p>
                    </div>

                    <div class="column has-text-centered">
                          <span class="icon is-large">
                            <i class="fa fa-users"></i>
                          </span>
                        <p class="title is-4"><strong>Collaborative</strong></p>
                        <p class="subtitle">Invite the community of entrepeneurs to challenge your idea.</p>
                    </div>


                    <div class="column has-text-centered">
                          <span class="icon is-large">
                            <i class="fa fa-css3"></i>
                          </span>
                        <p class="title is-4"><strong>Modern</strong></p>
                        <p class="subtitle">Access your ideas from everywhere. It's in the cloud</p>
                    </div>


                    <div class="column has-text-centered">
                          <span class="icon is-large">
                            <i class="fa fa-rocket"></i>
                          </span>
                        <p class="title is-4"><strong>Free</strong></p>
                        <p class="subtitle">Get started now with a free account for public sparks.</p>
                    </div>
                </nav>
            </div>
        </div>
    </section>


    <section class="section">
        <h2 class="title">Innovation</h2>
        <p class="content">Demo</p>
    </section>


</template>